<div class="service-box">
	<div class="gb-home-box service-top">
		<p>隐私条款</p>
		<p>北京微方程科技有限公司及其关联公司（以下统称“我们”或“LinkedME”），作为一家专注移动互联数据服务的公司，一直以来都非常重视数据服务中个人信息的保护和隐私权保护。请仔细阅读以下隐私政策内容以了解我们是如何收集和使用来自于或关于您和您的终端用户的信息的。</br>
		<span><i style="text-decoration: underline;">请注意，访问LinkedME网站或使用我们的服务，表示您已阅读、知悉和同意接受本隐私政策。本政策在您使用网站和服务的整个过程中有效，如果您不同意本政策，您应立即停止使用LinkedME网站以及如下所具体介绍的各种服务。</i></span></p>
	</div>
	<div class="cont">
		<ul>
			<li>
				<p>一、我们如何收集和使用信息：</p>
				<p>
					<span>1、访问和浏览LinkedME网站 </br>
							当您访问我们网站时，和大多数网站一样，我们会 </br>
							-使用cookie技术在您电脑存储您的会话/选择信息； </br>
							-使用clear gif/Web Beacons/Web Bugs的软件技术来告知我们哪些内容有效； </br>
							-自动收集某些信息并存储在日志文件中。这些信息包括：Internet协议(IP)</br>地址，浏览器类型，Internet服务提供商（ISP），参考/退出页面，操作系统，日期/时间戳，和点击数据流等。 </br>
							我们使用这些信息用于： </br>
							-提升您使用网站的体验和服务质量； </br>
							-帮助我们有效地管理网站内容；</br> 
							-分析群体性用户的站内活动情况以及整个用户群的社会信息； </br> </span>
					<span>2、使用LinkedME用户增长服务概述 </br>
							1）当您注册LinkedME服务的时候，我们会要求您提供您的个人信息，包括姓名、电子邮件地址、密码和手机号码来创建账户。当您后续与我们联系并持续使用LinkedME服务时，我们可能会要求您提供更多的联系信息，包括： </br>
							-联系人通讯地址、电话号码、职务和职位；</br> 
							-您的企业信息，例如企业名称和业务类型； </br>
							-您的产品信息，例如移动应用的名称、内容、类别和某些特性；推广渠道信息等。 </br>
							我们使用这些信息是用于： </br>
							-向您发送注册确认；</br> 
							-了解和管理账户； </br>
							-回应您的客户服务要求； </br>
							-了解您的企业和产品需求以确定适用的产品和服务； </br>
							-基于市场营销和促销的目的联系您，并为您提供更多有关我们产品的信息； </br>
							-进行研究和分析，提升我们的网站和服务质量； </br>
							2）我们在网站上留下电子邮箱允许您主动联系我们。当您通过电子邮箱与我们联系时您可能提供个人信息，我们将使用这些信息回应您的问题和服务要求，改善我们的网站和服务。</br> </span>
					<span>3、使用LinkedME服务详述 </br>
							1）LinkedME用户增长服务 </br>
							LinkedME为移动应用提供用户增长服务，通过您在应用中集成了LinkedME数据SDK或API后，您的应用将通过技术手段实现不同渠道到您APP内容页的跳转并收集和传送您终端用户的相关数据，通过我们的服务来分析这些数据以了解您的应用在不同终端设备上、使用平台或分发渠道的表现和用户使用的情况。</br> 
							您终端用户的数据通常包括但不限于：SDK或API版本、平台、时间戳、应用标识符、应用程序版本、iOS供应商标识符（IDFV)、iOS广告标识符（IDFA)、安卓广告主标识符、设备型号、终端制造厂商、终端设备操作系统版本、会话启动/停止时间、语言所在地、移动网络/国家代码、时区和网络状态（WiFi等)、硬盘、CPU和电池使用情况等。</br> 
							根据您移动应用的类型和和您对用户增长服务选项的要求，您终端用户的数据还有可能包括：地理位置、错误报告等等。 </br>
							为实现用户增长服务之目的，LinkedME用户增长服务将通过您的应用将上述数据发送到LinkedME的服务器上，由LinkedME以聚合性数据和分析报表的形式展现，您可以通过登陆在我们网站中的账户查阅相关统计和分析结果。 </span>
				</p>
			</li>

			<li>
				<p>二、最终用户数据的授权与同意</p>
				<p style="text-decoration: underline;">
					<span>您十分清楚，为了使用我们服务达到用户增长与数据分析之目的，您需要我们收集、存储、加工来自于您的应用程序的终端用户的个人信息。因此，您必须承诺： </br> 
						1）您已经获得终端用户充分必要的授权、同意和许可，允许使用我们履行服务所需的目的； </br> 
						2）您已经获得终端用户充分必要的授权、同意和许可，允许我们对已收集的数据进行匿名的、聚合性的处理和转移（包括可能的国际间转移）； </br> 
						3）您已经遵守并将持续遵守适用的法律、法规和监管要求，包括但不限于制定和公布有关个人信息保护和隐私保护的相关政策； </br> 
						4）您已经向终端用户进行披露和说明，允许我们对已收集的数据进行匿名的和聚合性的处理后，为互联网定向广告目的转移给非关联方使用，但您同时应向终端用户提供易于操作的选择机制，说明用户如何以及何时可以行使选择权，并说明行使选择权后如何以及何时可以修改或撤回该选择，使得用户可以选择同意或不同意为互联网定向广告目的而收集和使用其身份关联信息以及向第三方转让该信息； </br> 
						如因您违反上述承诺导致您的终端用户对我们主张任何形式的索赔或权利要求，或导致我们被卷入到法律或行政程序，您将负责全面解决，并赔偿我们因此可能遭受的任何形式的损失。 </br> </span>
				</p>
			</li>

			<li>
				<p>三、信息的更新与保存</p>
				<p>
					<span>我们将在您的账户登录页面保留更新渠道，以使您能审阅、更新或更正您留存在我们这里的个人信息。</br> 我们将根据提供服务之目的存储、处理和使用您的产品终端发送到服务器的数据，并在满足服务目的后的合理期限内予以删除。 </br> 尽管有上述规定，为解决争议、执行用户协议、遵守与安全运营相关的技术要求，在法律允许的范围内，我们仍可能保留某些数据到合理的时间。</br>  </span>
				</p>
			</li>

			<li>
				<p>四、我们采取的数据保密措施</p>
				<p>
					<span>在互联网上没有任何传输方法，或电子存储方法是百分之百安全的，尽管我们已经尽到合理努力，但仍有可能被盗、非法拥有或者滥用而给您和您的用户带来人身、财产和声誉等方面损失的危险。您已了解上述风险并自愿承担。</br>  我们将采用行业内通行的、合理的标准来保护我们所储存的信息的安全性和保密性。包括但不限于：防火墙和数据备份措施；数据中心的访问权限限制；雇员保密协议和安全管理制度；对移动终端的识别性信息。</br>  </span>
				</p>
			</li>

			<li>
				<p>五、我们对未成年人信息保护</p>
				<p>
					<span style="text-decoration: underline;">我们已经在服务前提中明确，不接受未成年人注册登记成为我们的用户。在知情的情况下，我们不会收集和使用未成年人的数据。 如果您的应用是针对未成年人而设计和开发的，请务必确保您的终端用户的注册和使用应用是由未成年人的监护人进行的。 </br>  </span>
				</p>
			</li>

			<li>
				<p>六、我们如何向其他方披露和共享信息</p>
				<p>
					<span>除非本政策已说明的情况外，您的数据不会被以可识别的形式向第三方披露和共享。但以下情况除外：</br> 
					1、获得您的事先同意； </br>
					2、因司法、行政等合法程序的要求； </br>
					3、在有限的情况下，我们有可能聘请第三方供应商、顾问或其他服务商为我们提供必要的维护、支持和服务，唯该等第三方因履行我们的工作必要，且已与我们签署必要的条款保护数据安全和保密性的。</br> 
					4、在紧急情况下，经合理判断是为了保护我们、我们的代理人、客户、终端用户或其他人的合法权益和安全的。 </br>
					5、我们正在或拟进行企业并购、重组、出售全部或部分股份和/或资产等重大变化，包括但不限于尽职调查过程。 </br>
					但是，我们可能与第三方以不能直接识别您或您用户的形式分享匿名性的或聚合性的信息。 </span>
				</p>
			</li>

			<li>
				<p>七、国际转移问题</p>
				<p>
					<span>在提供服务的过程中，我们可能将从您或您的产品终端用户那里收集到的数据转移到您所在的司法管辖区域之外的我们的关联实体或其他第三方。如果您或者您的产品终端用户位于中华人民共和国司法管辖区域之外，或者当您或您的产品终端用户位于中华人民共和国司法管辖区域内，但我们有需要转移到中华人民共和国司法管辖区域之外时，您应同意或者取得终端用户的同意有关此项国际间转移。</br> 
					我们强烈建议您咨询当地专业人士，以保证此项转入或转出符合当地数据保护的要求。特别是，当国际转移涉及到欧盟地区或者美国地区时，请注意这些国家和地区的个人信息数据保护的合法性规定。</span>
				</p>
			</li>
			<li>
				<p>八、政策更新与效力</p>
				<p>
					<span>我们有权根据服务的变化、适用法律和政策的调整以及其他受影响的因素随时调整隐私政策。本隐私政策的任何更新将以标注更新时间的方式公布在本网页上，因此，请随时查看和了解您应遵守的隐私政策。如果您不同意接受本隐私政策，请停止访问和使用我们的服务。</br>  
					本政策是LinkedME服务条款的重要组成部分。 </span>
				</p>
			</li>

			<li>
				<p>九、适用法律与争议解决</p>
				<p>
					<span>本政策应根据中华人民共和国法律解释与管辖，有关与您和LinkedME之间发生的任何形式的争议均应友好协商解决。协商不成的，任一方均有权将争议提交北京仲裁委员会根据其届时有效的仲裁规则在北京申请仲裁裁决。 </span>
				</p>
			</li>

			<li>
				<p>十、联系我们</p>
				<p>
					<span>如果您对我们的隐私政策有任何疑问、建议或投诉，请联系【support@linkedme.cc】。 </span>
				</p>
			</li>
			
			
		</ul>
	</div>
</div>