<div class=" gb-home-box p-top-box clearfix">

	<div id="about" class="w-c f-l-s f-w-el">关于我们</div>
	<div class="w-c f-l-n f-w-l m-t-1" style="padding:0 2rem;text-align: left;">
		LinkedME是国内首家企业级深度链接服务平台，
		致力于为移动互联网企业提供全新的解决方案，
		通过深度链接打破移动应用信息孤岛现状，
		帮助移动互联网企业研发的App提高下载、活跃、留存，以及全新的流量变现方式。
	</div>
	

</div>

<div class="m-t-2 u-line" style="font-size: 1rem;">我们的优势</div>

<ul class="function-list" style="padding: 2rem 4rem;">
	<li ng-repeat="o in join_list">
		<img ng-src="{{o.pic}}" alt="" class="pic" />
		<div class="title">{{o.title}}</div>
		<div class="text">{{o.text}}</div>
	</li>
</ul>
<div style="padding: 2.3rem;">
	<p style="font-family:'kaushan';font-size: 100;font-size:1rem;">join us</p>
	<div id="join" class="m-t-2 u-line" style="font-size: 1.5rem;">加入我们</div>
	<ul>
		<li class="m-t-2" ng-repeat="o in job_list">
			<img ng-src="{{o.pic}}" style="display: block;width: 5.12rem;" alt="" class="pic" />
			<div class="m-t-1" style="text-align: left;color:rgb(246,127,86);font-size: 1rem;text-indent: 0.8rem;">{{o.department}}</div>
			<ul>
				<li ng-repeat="k in o.job">
					<div class="m-t-2" style="text-align: left;color: #00bb88;" class="job-name">{{k.job_name}}</div>
					<div class="m-t-2" style="text-align: left;" class="job-no">职位编号:{{k.job_no}}</div>
					<div class="m-t-2" style="text-align: left;color: #ff9933;font-size: 0.72rem;" class="job-highlight">{{k.job_highlight}}</div>
					<div class="m-t-2" class="job-res">
						<div style="text-align: left;">岗位职责:</div>
						<ul style="font-size:0.72rem;line-height: 1.2rem;">
							<li style="text-align: left;" ng-repeat="j in k.job_res">{{j}}</li>
						</ul>
					</div>
					<div class="m-t-2" class="job-req">
						<div style="text-align: left;">任职要求:</div>
						<ul style="font-size:0.72rem;line-height: 1.2rem;">
							<li style="text-align: left;" ng-repeat="m in k.job_req">{{m}}</li>
						</ul>
					</div>
				</li>
			</ul>
		</li>
	</ul>
</div>
