<div class="linkactive">
	<div class=" gb-home-box p-top-box">
		<p class="w-c f-l-s f-w-el">LinkActive</p>
		<p class="w-c f-l-n f-w-l m-t-1">召回沉默用户，提升流量价值！</p>
	</div>
	<div class="cont">
		<p>申请LinkActive</p>
		<p>随着移动互联网的快速发展、增量市场向存量市场的转化，流量变现和沉默用户唤醒将是APP痛心疾首的问题。LinkActive是LinkedME专注于移动APP流量变现和沉默用户唤醒服务的平台。LinkedME收到申请资料后，将会在一个工作日之内给您反馈。</p>
	</div>
	<ul class="list">
		<li>
			<input type="text" name="" ng-model="la.account" placeholder="LinkedME账号">
			<div class="line"></div>
		</li>
		<li>
			<span>*</span><input type="text" name="" ng-model="la.name" placeholder="联系人">
			<div class="line"></div>
		</li>
		<li>
			<span>*</span><input type="text" name="" ng-model="la.telephone" placeholder="联系电话">
			<div class="line"></div>
		</li>
		<li>
			<span>*</span><input type="text" name="" ng-model="la.company" placeholder="公司">
			<div class="line"></div>
		</li>
		<li>
			<span>*</span><input type="text" name="" ng-model="la.app_name" placeholder="APP名称">
			<div class="line"></div>
		</li>

		<li class="error-msg" ng-show="er.msg">{{er.msg}}</li>
		<div class="gb-btn1"><a ng-click="sub()">立即申请</a></div>
	</ul>
</div>
