<div class=" gb-home-box p-top-box clearfix">
			<div class="w-c f-l-s f-w-el">LinkPage</div>
			<div class="w-c f-l-n f-w-l m-t-1" >一键唤醒APP，一键直达指定页面</div>
			<div class="m-t-2">
				<div class=""><a class="m-c btn btn-org" href="https://www.linkedme.cc/dashboard/index.html#/app/deeppage_summary">立即使用</a></div>
				<div class="m-t-1">
					<a class="btn btn-tran fl m-l" href="https://www.linkedme.cc/dashboard/index.html#/app/deeppage_summary">体验DEMO</a>
					<a class="btn btn-tran fr m-r" target="_blank" href="https://www.linkedme.cc/doc/content/">SDK及文档</a>
				</div>
				
			</div>
		
		</div>
		<!--情景演示-->
		<div class="solution">场景演示</div>
		<div class="">
			<ul class="solution-list">
				<li ng-class="{true:'active',false:''}[selected[0]]" ng-click="change_tab(0)">微信</li>
				<li ng-class="{true:'active',false:''}[selected[1]]" ng-click="change_tab(1)">微信公众号</li>
				<li ng-class="{true:'active',false:''}[selected[2]]" ng-click="change_tab(2)">短信/邮件</li>
				<li ng-class="{true:'active',false:''}[selected[3]]" ng-click="change_tab(3)">广告投放</li>
				<li ng-class="{true:'active',false:''}[selected[4]]" ng-click="change_tab(4)">转发邀请</li>
				<li ng-class="{true:'active',false:''}[selected[5]]" ng-click="change_tab(5)">APP换量</li>
			</ul>
			<ul class="vedio-list">
				<li ng-if="selected[0]" class="android" >
					<div >
						<video class="android-vedio"  controls src="img/xiaoying.mp4" preload="metadata" type="video/mp4"  poster="./img/page-1.png">
	                     
	                    </video>
					</div>
					
				</li>
				<li ng-if="selected[1]" class="iphone" >
					<div class="iphone-vedio">
						<video  preload="metadata" type="video/mp4" src="img/talicai.mp4"  poster="./img/page-2.png" controls>
	                        
	                    </video>
					</div>
					
				</li>
				<li ng-if="selected[2]" class="iphone" >
					<div class="iphone-pic">
						<div class="slide-box" ng-class="{true:'active',false:'inactive'}[slide]">
							<img src="img/email_1.png" alt="" />
							<div class="tiaozhuan" ng-click="slide=!slide"></div>
							<img src="img/email_2.png"  alt="" />
							<div ng-click="slide=!slide" class="fanhui"></div>
						</div>
						
					</div>
				</li>
				<li ng-if="selected[3]" class="iphone" >
					<div class="iphone-vedio">
						<video   poster="./img/page-3.png" preload="metadata" type="video/mp4"  src="img/kuaikan.mp4" controls>
	                     
	                    </video>	
					</div>
					
				</li>
				<li ng-if="selected[4]" class="iphone" >
					<img class="iphone-image" src="img/huojiachifan.png"/>
				</li>
				<li ng-if="selected[5]" class="iphone" >
					<div class="iphone-vedio">
						<video   poster="./img/page-4.png" preload="metadata" type="video/mp4"  src="img/linksense.mp4" controls>
	                       
	                    </video>
					</div>
					
				</li>
			</ul>
			<ul class="content-list">
				<li >{{content}}</li>
			</ul>
		</div>
		 
		<!--功能介绍-->
		<div class="function-intro">
			<div class="line"></div>
			<div class="m-t-2 u-line" style="font-size: 1.2rem;">功能介绍</div>
			
			<ul class="function-list">
				<li ng-repeat="o in function_list">
					<img ng-src="{{o.pic}}" alt="" class="pic" />
					<div class="title">{{o.title}}</div>
					<div class="text">{{o.text}}</div>
					<div class="line"></div>
				</li>
			</ul>
			
			
			
			
			
			
		</div>
		<!--用户-->
		<div class="customer" style="overflow: hidden;">
			<div class="u-line"  style="width: 100%;font-size: 1rem;">我们的用户</div>
			<img style="display: block; width: 180%; margin:-0.5rem -40%;"  src="img/linkpagelogo.png"/>
			

		</div>