<div class="price-box">
	<div class="gb-home-box top">
		<p>定价</p>
		<p>选择适合您的产品解决方案</p>
	</div>
	<div class="cont">
		<div class="tit">
			<p >LinkPage</p>
			<p style="line-height: 3rem;color: #4d4d4d;font-size:1rem">一键唤醒APP，一键直达指定页面</p>
			<ul>
				<li>
					<p>社区版</p>
					<p>日活100W以下的APP免费使用</p>
					<p>免费</p>
					<p><a href="https://www.linkedme.cc/dashboard/index.html#/access/signup" style="color:#f49e74">立即使用</a></p>
				</li>
				<li class="cur">
					<p>企业版</p>
					<p>日活100W以上的APP推荐使用</p>
					<p>¥10,000+／年</p>
					<p class="btn"><a href="https://www.linkedme.cc/dashboard/index.html#/access/signup" style="color:#fff">立即使用</a></p>
					<span>最受欢迎</span>	
				</li>
				<li>
					<p>定制版</p>
					<p>更灵活的方案选择及功能定制</p>
					<p>商务详谈</p>
					<p style="border:none;width:14rem;">联系商务QQ：925233431</p>
				</li>
			</ul>
		</div>
		<div class="linkActive-box">
			<p>LinkActive</p>
			<p>召回沉默用户，提升流量价值</p>
			<p>LinkActive是LinkedME旗下专注于移动APP用户拉活及流量变现的平台，了解产品的详细情况及结算方式请与商务沟通，或提交申请资料，商务同学会尽快与您进行联系</p>
			<p class="gb-btn1"><a ui-sref="linkactive">立即申请</a></p>
			<p>联系商务QQ：925233431</p>
		</div>
	</div>
</div>