<div class="service-box">
	<div class="gb-home-box service-top">
		<p>服务条款</p>
		<p>欢迎使用LinkedME网站及服务。LinkedME网站指以LinkedME品牌提供互联网信息、产品和服务的网站，包括但不限于linkedme.cc等（以下简称“网站”或“本网站”）。</br>
		<span>本网站及其服务是由北京微方程科技有限公司及其关联公司（以下统称“LinkedME”）基于以下条款和条件提供。 <i style="text-decoration: underline;">当您访问本网站或接受本网站提供的相关服务时，请务必认真阅读和理解本《服务条款》（以下简称“条款”）中规定的所有内容。我们向您（或称“用户”）提供的服务还需要您遵守其他条款及服务准则（包括但不限于使用帮助、隐私政策等），您应同时阅读了解。您访问、浏览本网站内容，或以勾选同意方式注册、登陆本网站，或以任何方式使用本网站提供的服务时，即表示您同意接受本条款以及其他条款和服务准则的约束。</i></span></p>
	</div>
	<div class="cont">
		<ul>
			<li>
				<p>1.服务前提</p>
				<p class="tit" style="text-decoration: underline;">
					<span>1.1 本网站及服务仅针对18周岁以上具有完全民事行为能力的自然人及依住所地法律合法登记并有效存续的企业法人提供。如您不符合资格，请勿继续使用LinkedME所提供的服务，并且，我们有权随时终止向您提供服务。</span>
					<span>1.2 如果您使用本网站服务，您应向LinkedME提供现有的、完整的和准确的注册信息，以获取LinkedME向您提供的注册账户和密码。在服务使用期间，您承诺随时向LinkedME更新您的注册信息。LinkedME不会为错误的、虚假的或不完整的账户信息负责，并有权随时停止提供服务。</span>
					<span>1.3 为了维护您的账户的保密性，您应采取必要措施限制对您的计算机或移动设备未经授权的使用/访问，并确保您的登陆密码未向任何第三方透露。您同意对在您的账户下或已登录的设备中发生的所有活动承担责任。账户及密码信息如有遗失或泄露，您有义务立刻通知LinkedME并更改密码，以保证您账户的安全性和正常使用。LinkedME不会对您账户密码的非授权使用所引起的任何损失、责任和权利主张承担责任。</span>
				</p>
			</li>
			<li>
				<p>2.服务内容</p>
				<p>LinkedME根据其公布的服务准则（如有）、届时予以签署的服务协议（如有）及本条款向用户提供如下服务：</p>
				<p class="tit"><span>2.1用户增长服务</br></span>
				<span>“用户增长服务”是指LinkedME通过其工具（无论是以SDK、短链、代码追踪或其他任何技术手段）所提供的帮助开发者提高新增、活跃、留存数据的服务。该服务按照深度链接工具的功能现状所提供，并由您根据需求选择使用。现有用户增长服务指的是LinkPage。 </br>
				<i style="text-decoration: underline;">在本服务中，您应同意在您的产品（包括但不限于移动应用客户端、移动网站、应用平台及其他LinkedME确认可供提供服务的其他终端等）中使用LinkPage工具，并且通过您与您的产品用户的服务协议/软件许可条款或其他形式的许可或授权（“用户授权”），获得您产品用户的必要同意以使得LinkedME用户增长服务工具有权收集有关您产品的使用情况的原始数据以及其他为提供服务所必须的用户信息。</i>您充分理解和同意，获得用户授权是使用LinkedME服务的必要前提，因此LinkedME有权监督用户授权的获取，并对未获得用户授权的产品停止服务。 同时，您应赋予我们对这些数据的非专有的，全球性质的，免费的，永久的，不可撤销的，可进一步许可和使用的权利。在此前提下，LinkedME用户增长服务将通过我们的网站向您在线提供各种角度的产品分析报告，以满足您对产品的监测、统计、评估以及分析完善的多种需求。 除LinkedME与您有特殊约定外，本分析服务所形成的数据报告所有权，使用权及其知识产权，均由LinkedME保留并享有相关收益。您有权仅为本服务约定之目的使用。</span></p>
			</li>

			<li>
				<p>3.服务费用</p>
				<p>LinkedME的服务分为免费服务和收费服务。收费服务及收费方式详见各个产品页面介绍，并以双方最终达成的书面协议为准。</br>LinkedME保留随时更改收费方式和收费标准的权利，但对于已签署书面协议确定价格的除外。</p>
				
			</li>

			<li>
				<p>4.陈述与保证</p>
				<p class="tit">
					<span>您在使用本服务时，向LinkedME陈述并保证： </span>
					<span>4.1 您已经获得充分必要的授权以接受本条款并履行本条款规定的义务；</span> 	
					<span>4.2 当您使用LinkedME服务或者根据本服务条款允许LinkedME收集、存储、处理和使用从您的产品终端用户或您的其他合作伙伴获得的数据时，无论您是处于LinkedME试用或正式服务阶段，您均已经获得充分必要的授权、同意和许可，不会与您与第三方所签署的协议或文件冲突或构成对第三方权利的侵犯； <i style="text-decoration: underline;">若您的产品终端用户或您的合作伙伴向您撤销上述授权及许可时，您应当采取必要的技术手段，停止针对上述产品终端用户或合作伙伴使用本服务，并立即书面通知LinkedME。LinkedME将自收到通知之日起，尽可能在可控制的范围内对您产品终端用户或您的合作伙伴所提供的数据进行删除，但使用该等数据形成的相应产品的分析报告或行业报告业已发布的除外。</i></span> 
					<span>4.3 您已经遵守并将持续遵守适用的法律、法规和监管要求，包括但不限于有关个人信息保护和隐私保护的相关政策；</span></p>
				
			</li>

			<li>
				<p>5.有限的使用许可</p>
				<p class="tit">
					<span style="text-decoration: underline;">您不得： </br>
						(i) 转让、出售或出租LinkedME的服务或所含软件、平台的任何部分； </br>
						(ii) 针对软件、平台进行修改、编辑或创作衍生作品； </br>
						(iii) 传播或公共场合演示LinkedME的服务或所含软件、平台； </br>
						(iv) 反向工程或其他行为试图获取该软件的源代码； </br>
						(v) 其他非本服务条款或双方书面确定的目的使用。 </br>
						您在此同意授权LinkedME可以在其网站、市场推广资料和新闻报道中使用您的公司名称、商标、服务标志和或商业标识进行相关的商业推广活动。 </span>
			</li>
			<li>
				<p>6.版权</p>
				<p class="tit">
					<span>LinkedME服务所包含或提供的所有内容诸如文字、图表、标识、按钮图标、图像、声音文件片段、数字下载、数据编辑和软件都是LinkedME或其内容提供者的财产，受中国和国际版权法的保护。LinkedME上所提供使用的所有软件都是LinkedME或其软件供应商的财产，受中国和国际版权法的保护。同时，LinkedME尊重他人的知识产权。如果您认为相应信息对您的作品的使用已经构成版权侵犯，请通过公布于LinkedME的客服电话及时通知我们，我们将按照现行法律法规的规定的版权侵权投诉程序予以处理。</span>
			</li>
			<li>
				<p>7.商标权利</p>
				<p class="tit">
					<span>本网站服务所包含或者提供的图表、标识、网页页眉、按钮图标、文字、服务品名均为LinkedME的商标、注册商标或商业外观。这些商标或商业外观不得以任何可能引起消费者混淆的方式或任何诋毁或诽谤LinkedME的方式用于与本网站或其关联公司无关联的任何商品或服务上。未经LinkedME的书面许可，本网站上的任何内容都不应被解释为以默许或其他方式授予许可或使用本网站上出现的商标的权利。</span>
			</li>


			<li>
				<p>8.隐私和信息收集</p>
				<p class="tit">
					<span> <i style="text-decoration: underline;">作为您使用LinkedME服务的前提条件，您同意LinkedME有权根据其隐私政策收集、保留并以匿名性和不可识别的方式使用本服务所获得的数据。</br></i>
					LinkedME的隐私政策详见https://www.linkedme.com/privacy.jsp，为本服务条款的重要组成部分。 </br>
					您同意遵守您所在地适用的有关您产品终端用户数据收集和保护的法律和行业标准，并确保您使用我们的服务完全合乎该等法律及行业标准的规定。 </br>
					作为LinkedME用户增长服务的使用者，您必须制定、发布您的隐私政策并由您产品终端用户接受。该政策应不低于LinkedME的隐私保护标准，特别是： </br>
					(i) 告知您有第三方合作伙伴（即LinkedME）以及采用一定的技术手段收集、存储、处理和使用您的产品终端使用的数据，并说明该行为的必要性； </br>
					(ii) 不向未成年人收集个人数据信息，如果您是面向未成年人的应用开发者，应保证该应用的使用在成年人的监护下进行。 
					我们将采用业内通行的，合理的标准来保护我们所收集的数据的安全性和保密性。</span>
			</li>

			<li>
				<p>9.服务的修改和终止</p>
				<p class="tit">
					<span> LinkedME始终在不断更改和改进其所提供的服务。LinkedME可能会增加或删除某项服务功能，也可能暂停或彻底停止某项服务。对于免费服务用户，您可以随时停止使用LinkedME的服务，LinkedME也可能随时停止向您提供服务，或随时对LinkedME的服务增加或设置新的限制。但是，对于收费服务用户，如果LinkedME变更或停止提供某项服务，则在可能的情况下，LinkedME会向用户发出合理的提前通知，并让用户获知和同意前述变更，并有机会备份和转移其留存在LinkedME中的数据（若出现服务停止的情形）。 </br>如用户违反其在本服务条款中的行为规范的，LinkedME有权随时终止向用户提供所述服务而无须事先通知。</span>
			</li>

			<li>
				<p>10.有限责任</p>
				<p class="tit">
					<span> LinkedME负责按”现状”和”可得到”的状态向您提供服务。但LinkedME服务不作任何明示或暗示的保证，包括但不限于LinkedME服务的适用性、没有错误或疏漏、持续性、准确性、可靠性、适用于某一特定用途。同时，LinkedME也不对其服务所涉及的技术及信息的有效性、准确性、正确性、可靠性、质量、稳定、完整和及时性作出任何承诺和保证。 </br>
					LinkedME对由于政府行为譬如政策或法规的变更、自然灾害或战争、通讯线路中断、黑、计算机病毒侵入或发作、电信部门技术调整、因政府管制而造成网站的暂时性关闭等任何影响网络正常运营的力事件，以及他人蓄意破坏、正常的系统维护、系统升级，或者因网络拥塞而导致本网站不能访问而造成的本网供的信息及数据的延误、停滞或错误，以及使用者由此受到的一切损失不承担任何责任。</br> 
					LinkedME不对用户信息的保存、修改、删除或储存失败负责。对网站上的非因LinkedME故意所导致的排字错误、疏忽等不承担责任。</span>
			</li>

			<li>
				<p>11.适用法律</p>
				<p class="tit">
					<span>您同意本服务条款和使用条件以及您和LinkedME之间发生的任何争议均适用中华人民共和国法律。</span>
				</p>
			</li>

			<li>
				<p>12.争议</p>
				<p class="tit">
					<span>有关与您和LinkedME之间发生的任何形式的争议均应友好协商解决，协商不成的，任交北京仲裁委员会根据其届时有效的仲裁规则在北京申请仲裁裁决。</span>
				</p>
			</li>

			<li>
				<p>13.条款修改和可分性</p>
				<p class="tit">
					<span style="text-decoration: underline;">为更好地提供服务并符合相关监管政策，我们可能随时修改上述条款。请您定期查阅本条款。我们会在网页上公布这些条款的修改通知，并列明最近的修改日期。如您不同意我们对相应条款作出的修改，您应立即停止使用LinkedME所提供的服务。如果本条款中任何一条被视为废止、无效或因任何理由不可执行，该使用条件应视为可分割的且不影响任何其余条款的有效性和可执行性。</span>
				</p>
			</li>

			<li>
				<p>14.效力</p>
				<p class="tit">
					<span>本服务条款是用户使用LinkedME相关服务的通用条款，一经用户接受服务即具有法律约束力，也是用户与LinkedME另行达成并签署的书面协议的重要组成部分。本条款内容与书面协议有冲突时，以书面协议约定为准。</span>
				</p>
			</li>
		</ul>
	</div>
</div>