<!-- 立即使用 -->
<div ng-include="'view/blocks/use.html'"></div>

<div class="gb-footer gb-home-box">
	<div class="box">
		<ul>
			<li>关于LinkedME</li>
			<li><a ui-sref="join_us({hash:'about'})" >公司介绍</a></li>
			<li><a ui-sref="join_us({hash:'join'})" >加入我们</a></li>
		</ul>
		<ul>
			<li>产品</li>
			<li><a ui-sref="linkpage">LinkPage</a></li>
			<li><a ui-sref="linkactive">LinkActive</a></li>
		</ul>
		<ul>
			<li>开发者</li>
			<li><a href="https://www.linkedme.cc/doc/content/sdk-download.html">SDK下载</a></li>
			<li><a href="https://www.linkedme.cc/doc/content/LinkPage-Integration.html">文档中心</a></li>
		</ul>
		<ul>
			<li>联系我们</li>
			<li><a href="tel:010-53325796">服务热线：010-53325796</a></li>
			<li><a href="">QQ群：209222314</a></li>
			<li><a href="">市场合作：market@linkedme.cc</a></li>
			<li><a href="">技术支持：support@linkedme.cc</a></li>
		</ul>

		<div class="line1"></div>

		<p class="cont">
			<a ui-sref="service">服务条款</a>
			<a ui-sref="hide">隐私条款</a>
		</p>

		
		<p class="msg">北京微方程科技有限公司 ©2015-2017</p>
		<p class="msg">京ICP备15003545号</p>
		<p class="msg">LinkedME All Rights Reserved</p>



	</div>
</div>