
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1491987957686'); /* IE9*/
  src: url('iconfont.eot?t=1491987957686#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1491987957686') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1491987957686') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1491987957686#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-msnui-plan-time:before { content: "\e683"; }

.icon-caiwuguanli02:before { content: "\e606"; }

.icon-wendang:before { content: "\e617"; }

.icon-yingyongguanli:before { content: "\e61f"; }

.icon-shouye:before { content: "\e501"; }

